#fullpage {
  height: 100%;
  position: relative;
  touch-action: none;
  transform: translate3d(0, 0, 0);
  transition: all 700ms ease;

  //h1 {
  //  img {
  //    position: absolute;
  //    left: 10px;
  //    top: 10px;
  //    z-index: 4;
  //    max-width: 300px;
  //    height: auto;
  //  }
  //}
}

// title img
.page-header {
  h1 {
    //height: 35px;
    //display: none;
    img {
      //@include media-breakpoint-down(md) {
      position: absolute;
      //left: 10px;
      //top: 10px;
      top: 5%;
      left: 3%;
      z-index: 4;
      max-width: 300px;
      //height: auto;
      //}
    }
  }
}

/* Centered texts in each section
* --------------------------------------- */
.section {
  text-align: center;
  overflow: hidden;

  ul {
    font-size: 4vw;
    list-style: none;
    padding-left: 0;
  }

  .table {
    //background-color: salmon;
    background-color: skyblue;
    font-size: 3vw;
    //margin: 0 10%;
    td {
      vertical-align: middle;
    }
  }

  section h1 {
    font-size: 4.5vw;
  }

  article h1 {
    font-size: 4vw;
  }

  p {
    font-size: 2.5vw;
  }
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page */
  //background-image: /* our video */;
  background-position: center center;
  object-fit: cover; /* cover video background */
  z-index: 3;
}

/* solves problem with overflowing video in Mac with Chrome */
#section0 {
  overflow: hidden;

  /* Layer with position absolute in order to have it over the video
   　--------------------------------------- */

  .layer {
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 40%;

    /*
    * Preventing flicker on some browsers
    * See http://stackoverflow.com/a/36671466/1081396  or issue #183
    */
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    /* Style for our header texts
    * --------------------------------------- */
    h1 {
      font-size: 5.5vw;
      font-family: arial, helvetica, sans-serif;
      //color: #fff;
      margin: 0;
      padding: 0;
    }

    p {
      color: maroon;
      font-size: 4vw;

      &:first-of-type {
        font-size: 5.5vw;
      }
    }
  }
}

#section2 {
  //section {
  //  position: absolute;
  //  top: 5%;
  //  left: 0;
  //  right: 0;
  //}
  .fp-controlArrow {
    top: 80%;
  }
}

#section4 {
  .iframe-wrap {
    padding: 0 30px;
  }

  iframe {
    width: 80%;
  }
}

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
  color: #fff;
}

/* Hiding video controls
* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
* --------------------------------------- */
video::-webkit-media-controls {
  display: none !important;
}
